<div class="row shout">
	<div class="avatar col col-md-1 col-xs-2">
		<%= gravatar(shout.user, 
									48, 
									class: "img-responsive img-thumbnail")  %>
		
	</div>
	<div class="content col col-md-11 col-xs-10">
		<blockquote>
			<header>
				<span class="glyphicon glyphicon-user"></span>
				<%= link_to shout.user.username, shout.user %> shouted 
				<%= link_to time_ago_in_words(shout.created_at), shout %> ago.
			</header>
			<p><%= render shout.content %></p>
		</blockquote>
	</div>
</div>