<%= form_for :session, url: session_path, html: {role: 'form'} do |form| %>
  <div class="form-group form-field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group form-field">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Sign in",class: "btn btn-default" %>
  </div>
<% end %>
