<%= gravatar user, 30 %>
<%= link_to user.username, user %>
<span class="badge">
	<%= pluralize user.followers.size, "Follower" %>
</span>
<span class="badge">
	<%= pluralize user.shouts.size, "Shout" %>
</span>