<div class="page-header">
	<div class="row">
		
		<div class="col col-md-2 col-xs-4">
			<%= gravatar(@user, 150) %>
		</div>
		<div class="col col-md-10 col-xs-8">
			<div class="row">
				<h1 class="col col-xs-12">
					<%= @user.username %>
					<small>
						<%= @user.email %>
					</small>
				</h1>
			</div>
			<div class="row">
				<div class="col col-xs-12">
					<%= follow_button @user %>
				</div>
			</div>
		</div>

	</div>
</div>

<%= render @user.shouts %>