<div class="row">
	<div class="col col-md-6 col-md-offset-3 page-header">
		<h1>
			Welcome to Shouter
			<small>Sign in</small>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col col-md-6 col-md-offset-3">
		<div class="sign-in-form">
			<%= render "sessions/form" %>
		</div>
		<p>
			<span class="pull-right">
			Have an account
			<%= link_to "Sign up here", new_user_path %>
			</span>
		</p>
	</div>
</div>