<%= form_for @dashboard.new_text_shout, html: {class: 'form-inline', role: 'form'} do |form| %>
	<div class="input-group">
		<%= form.text_field :body, class:"form-control", placeholder: 'Shout text here' %>
		<span class="input-group-btn">
			<%= form.submit 'Shout!!!', class: "btn btn-default" %>
		</span>
	</div>
<% end %>