<%= form_for @dashboard.new_photo_shout, html: {class: 'form-inline', role: 'form'} do |form| %>
	<div class="input-group">
		<%= form.file_field :image, class:"form-control"%>
		<span class="input-group-btn">
			<%= form.submit 'Shout!!!', class: "btn btn-default" %>
		</span>
	</div>
<% end %>