<div class="row">
	<div class="page-header">
	  <h1>Dashboard <small><%= current_user.email %></small></h1>
	</div>
</div>
<div class="row shout-form">
	<div class="col col-sm-6">
		<%= render 'new_text_shout_form' %>
	</div>

	<div class="col col-sm-6">
		<%= render 'new_photo_shout_form' %>
	</div>
</div>

<%= render @dashboard.timeline %>