@import "bootstrap";

body {
	padding-top: 70px;
}

.form-field>input,
.form-field>label {
	width: 400px;
}

.sign-in-form .form-field>input,
.sign-in-form .form-field>label {
	width: 100%;
}
.shout-form {
	margin: 0 0 20px 5px;

	.form-control {
		width: 80%;
	}
}
.shout {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #eaeaea;
}
blockquote .small:before,
blockquote footer:before {
	content: none;
}

.shout .avatar > img {
	width: 100%;
}
blockquote p img {
	margin-top: 10px;
}