<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<% if signed_in? %>
			<%= link_to current_user.username, dashboard_path, class:"navbar-brand" %>
			<ul class="nav navbar-nav nav-pills">
				<li>
					<%= link_to 'Sign out', session_path, method: :delete %>
				</li>
		<% else %>
			<%= link_to "SHOUTER", root_path, class:"navbar-brand" %>
			<ul class="nav navbar-nav nav-pills">
				<li>
					<%= link_to 'Sign in', new_session_path %>
				</li>
				<li>
					<%= link_to 'Sign up', new_user_path %>
				</li>
		<% end %>
			<li><%= link_to "Users", users_path %></li>
		</ul>
	</div>
	<% if alert %>
		<div class="row">
			<div class="alert alert-danger"><%= alert %></div>
		</div>
	<% end %>
	<% if notice %>
		<div class="row">
			<div class="alert alert-warning"><%= notice %></div>
		</div>
	<% end %>
	<%= yield %>
</div>

</body>
</html>
